body {
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
}
#top {
    margin: 0px;
    width: 40%;
}
/*button {
    background-color: rgba(90,72,153,0.753;
    color: black;
}*/
#head {
        background-color: rgba(0, 2, 148, 0.082);
        padding: 30px;
        border-radius: 15px;
        margin-top: 35px;
        margin-bottom: 45px;
}
h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large; 
}
.emp {
    color: black;
    font-size: x-large;
}
a{
    text-decoration: none;
    font-weight: lighter;
}
.container{
    position: relative;
}
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
.wwd {
      background-color: rgba(202, 202, 58, 0.678);
}
.faint-text{
    color:#666666;
}
.apply-here-btn{
    background-color: #874aad;
    color: #efefef;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:35px;
    margin-top:35px;
    border:none;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    transition-duration: 0.4s;
}
.imgrocket{
image-rendering: optimizeQuality;
image-orientation: from-image;
padding-left: 300px;
padding-right: 300px;
}

.WFF{
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color:purple;
    text-align: left;
}
.about-WFF{
        background-image: url("images/About\ WFF.jpg");
        background-repeat: no-repeat;
        background-position:left;
        background-attachment: scroll;
        background-size: contain;
        border-radius: 15px;
        padding: 15px;
        margin-top: 35px;
        margin-bottom: 45px;
        text-align: right;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown {
    position: relative;
    display: flex;
    width:100%;
    justify-content: space-between;
    }
    
    .dropdown-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    
    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    }
    
    .dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    }
    
    .dropdown-menu a:hover {
    background-color: #f1f1f1;
    }

    
    .center{
        text-align: center;
    }
    .email-box{
        width:30%;
        height:30px;
        border:2px solid #efefef;
        border-radius: 15px;
        padding:5px;
        background-color: #f9f9f9;
    }
    .textarea-box{
        width:30%;
        border:2px solid #efefef;
        border-radius: 15px;
        padding:5px;
        background-color: #f9f9f9;
    }
    .submit-btn{
        background-color: #874aad;
        color: #efefef;
        padding-right:20px;
        padding-left: 20px;
        padding-bottom:10px;
        padding-top:10px;
        border:none;
        border-radius: 10px;
        transition-duration: 0.4s;
        font-weight: bold;
    }
    .apply-here-btn:hover, .submit-btn:hover{
        background-color: black;
        color:#f1f1f1;
    }
    .WFF:hover{
        color:  #874aad;
    }
    .join-news{
        margin-top:55px;
    }
    .foot-links{
        display: flex;
        justify-content: space-between;
        margin-top:55px;
    }