html,body{
    margin:0;
}
.give-head-start, .about-wff h1, .what-we-do, .p-about-wff {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; 
}
.emp {
    font-weight: bold;
}

.margin-left-5{
    margin-left:5%;
}
.nav{
    display:flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right:4%;
    padding-top:2%;
}
.section-slider{
    background-color: #fff7b4;
    padding-top:15px;
    padding-bottom: 25px;
}
.slides > div{
    opacity: 0.8;
    color:white;
    text-align: end;
}
#slide-1{
    background-image: url(images/Product-design1800x1200-1-768x512a.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#slide-2{
    background-image: url(images/startup-advisory.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
}
#slide-3{
    background-image: url(images/Venture-capital\ .jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#slide-4{
    background-image: url(images/Merger768x512a.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}


.what-we-do{
    margin-left:8%;
}
.menu-items{
    display:flex;
    gap:20px;
}
.menu-items a{
    color: black;
    text-decoration: none;
}
.menu-items a:active{
    font-weight: bold;
}

.email-box{
    width:100%;
    height:30px;
    border:2px solid #efefef;
    border-radius: 15px;
    padding:5px;
    background-color: #f9f9f9;
}
.textarea-box{
    width:100%;
    border:2px solid #efefef;
    border-radius: 15px;
    padding:5px;
    background-color: #f9f9f9;
}

.apply-here-btn{
    background-color: #FFC107;
    color: #efefef;
    font-weight: bold;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:35px;
    margin-top:35px;
    border:none;
    border-radius: 20px;
    
    font-weight: bold;
}
.menu-apply-here-btn{
    background-color: #FFC107;
    color: white;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:10px;
    border:none;
    border-radius: 20px;
    transition-duration:0.4s;
    font-weight: bold;
}
.menu-apply-here-btn:hover{
    background-color: black;
    color:white;
}

.submit-btn{
    background-color: #FFC107;
    color: #efefef;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:10px;
    border:none;
    border-radius: 20px;
    
    font-weight: bold;
}
.section-head-start{
    background-color: #fffdf6;
}
.keep-touch{
    margin-top: 35px;
    margin-bottom: 20px;
}
.section-head-start, .about-wff, .keep-touch{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right:4%;
}

.section1, .img-section1, .section-about-wff, 
.img-about-wff, .section-keep-touch, .form-keep-touch{
    width:50%;
}

.section1, .img-about-wff, .section-keep-touch{
    margin-right:50px;
}
.img-section1, .section-about-wff, .form-keep-touch {
    margin-left:50px;
}

.images-banner{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right:8%;
    background-color: #fff7b4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-btn-span{
    display:none;
}
.dropdown-btn-span button{
    font-size: larger;
    background-color: white;
    color: black;
    border: none;
  }

.images-banner img{
    width:15%;
    height:120px;
}

.section-news-submit{
    display: flex;
    padding-left:8%;
    padding-right:8%;
    text-align: center;
    justify-content: center;
}
.email-box-2{
    width:100%;
    margin-right:35px;
    height:45px;
    border:2px solid #efefef;
    border-radius: 25px;
    padding:5px;
    background-color: #f9f9f9;
}
.news{
   background-color: #fff7b4;
    padding-left: 20%;
    padding-right:20%;
    text-align: center;
    padding-bottom:30px;
    padding-top:10px;
}

footer a{
    display:block;
    text-decoration: none;
    color:white;
    margin-bottom: 20px;
}
footer p a{
    display:inline-block;
}
footer{
    display:flex;
    padding:4%;
    background-color: #514742;
    color:white;
}
footer div{
    margin-right:10%;
}




* {
    box-sizing: border-box;
  }
  
  .slider {
    text-align: justify;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .slides {
    display: flex; 
    gap: 25px;
    justify-content: center;
    /*overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;*/
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 20%;
    height: 300px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: none;
  }

  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  .slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  


.dropdown-menu-page{
    display:none;
    background-color: #fff7b4;
    width:100%;
    height:100vh;
}

.dd-close-btn{
    font-size: x-large;
    border:none;
    background: none;
}
.dd-menu-items a{
display: block;
text-align: center;
text-decoration: none;
margin-bottom:25px;
color:black;
}
.dd-menu-apply-here-btn{
    background-color: #514742;
    color: #efefef;
    padding-right:10px;
    padding-left: 10px;
    padding-bottom:5px;
    padding-top:5px;
    border:none;
    border-radius: 20px;
   
    font-weight: bold;
}
.dd-btn-div{
    text-align: center;
}
.dd-socials{
    text-align: center;
    margin-top: 50px;
}
.dd-head{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    margin-bottom:30px;
}

  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
  
  /*html, body {
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #74ABE2, #5563DE);
    font-family: 'Ropa Sans', sans-serif;
  }*/








@media screen and (max-width: 416px) {
    .section-head-start, .keep-touch{
        flex-wrap: wrap;
    }
    .about-wff{
        flex-wrap: wrap-reverse;
    }
    .section1, .img-section1,.section-about-wff, .img-about-wff, .section-keep-touch, .form-keep-touch {
        width:100%;
    }
    .section1, .img-about-wff, .section-keep-touch{
        margin-right:0px;
    }
    .img-section1, .section-about-wff, .form-keep-touch{
        margin-left:0px;
    }
    .section-news-submit{
        flex-wrap: wrap;
    }    
    .news{
        padding-left: 4%;
        padding-right:4%;
    }
    .images-banner{
        padding-left: 5px;
        padding-right: 5px;
    }
    .images-banner img{
        height: 90px;
        width:20%;
    }
    .slider {
        width: 300px;
    }
    .slides {
       overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
      }
      .slides > div{
        width:300px;
      }
      .menu-apply-here-div, .menu-items{
        display:none;
      }
      .dropdown-btn-span{
        display:block;
      }
}